*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Karla', sans-serif;
    background: #F5F7FB;
    color: #293264;

}

.main-container{
    width: 412px;
    height: 148px;
    display: flex;
    padding: 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    margin-top: 20%; /*????*/
    
}

.main-container > *{
    margin: 0;
}

.quizz-header{
    font-weight: 700;
    font-size: 31.25px;
    line-height: 37px;
}

.quizz-paragraph{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 20px;
}

.quizz-button{
    width: 193px;
    height: 52px;
    background: #4D5B9E;
    border-radius: 15px;
    border-width: 0;
    /*button description*/
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #F5F7FB;
}

.blob-y{
    position: absolute;
    right: 0;
    top: 0;
}

.blob-b{
    position: absolute;
    bottom: 0;
}

.quiz-size{
    width: 430px;
    height: 430px;
    margin-top: 158px;
    margin-left: 40%;
}

.question{
    font-size: 16px;
    line-height: 19px;
}

.var-container{
    display: flex;
    justify-content: space-between;
}

.button-style{
    width: 65.92px;
    height: 20.65px;
    border: 0.794239px solid #4D5B9E;
    border-radius: 7.94239px;

    font-style: normal;
    font-weight: 500;
    font-size: 10.24px;
    line-height: 12px;
    color: #293264;
    background: #F5F7FB;
}

.q-and-var-container{
    margin-bottom: 50px;
}

.hr-question{
    margin-top: 15px;
    border: 0.794239px solid #DBDEF0;
    transform: rotate(-0.05deg);
}